name: CI

on:
  push:
    branches:
      - main

jobs:
  ci:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: denoland/setup-deno@9db7f66e8e16b5699a514448ce994936c63f0d54
        with:
          deno-version: v1.x

      - run: deno fmt --check
      - run: deno lint
      - run: deno test --coverage=coverage
      - run: deno coverage coverage --lcov --output=coverage.lcov
      - uses: codecov/codecov-action@v3
